.cadre {
    border: 1px solid black;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    background-color: #293036;
    justify-content: space-between;
    display: flex;
    flex-flow: wrap column;
}

.titre {
    color: white;
    text-align: center;
    margin-top: 35px;
}

.descriptif {
    color: white;
    text-align: center;
    height: 160px;
    width: 400px;
}

.image {
    height: 250px;
    width: 200px;
}

.bouton {
    width: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.imageContainer {
    display: flex;
    justify-content: center;
}