<div class="cadre">

    <!-- Titre du film/album -->
    <h2 class="titre">
        {{titre}}
    </h2>

    <!-- Image du film/album -->
    <div class="imageContainer">
        <img [src]="image" [alt]="titre" class="image">
    </div>

    <!-- Synopsis du film ou descrptif de l'album -->
    <!-- Pipe slice pour tronquer le texte qui est trop long et y ajouter trois points de continuation à la fin -->
    <p class="descriptif">{{(descriptif| slice: 0:500) + (descriptif.length > 500? '...' : '')}}</p>

    <button mat-raised-button class="bouton">Détails</button>
</div>