<div class="cadre">

    <!-- Titre du film/album -->
    <h2 class="titre">
        {{product.nom}}
    </h2>

    <!-- Image du film/album -->
    <div class="imageContainer">
        <img [src]="product.img" [alt]="product.nom" class="image">
    </div>

    <!-- Synopsis du film ou descrptif de l'album -->
    <!-- Pipe slice pour tronquer le texte qui est trop long et y ajouter trois points de continuation à la fin -->
    <p class="descriptif" *ngIf="product.synopsis">{{(product.synopsis| slice: 0:500) + (product.synopsis.length > 500? '...' : '')}}</p>

    <p class="descriptif" *ngIf="product.details">{{(product.details| slice: 0:500) + (product.details.length > 500? '...' : '')}}</p>

    <button mat-raised-button class="bouton" routerLink="/products/{{product.id}}">Détails</button>
</div>
